<%- include("partials/head.ejs"); %>
  </head>
  <body class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card px-3 py-2 mb-4">
            <div class="card-body">
              <div class="alert alert-danger mb-4 mt-4" role="alert">
                <%=message%>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card px-3 py-3 mb-4">
            <div class="card-body">

              <div class="d-grid gap-2">
                <a href="login" class="btn btn-secondary">Return to sign in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="assets/js/scripts.js"></script>
  </body>
</html>
