<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">

    <title>Music Pro</title>
  </head>
  <body class="py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card px-3 py-5 mb-4">
            <div class="card-body">
              <div class="alert alert-warning mb-4" role="alert">
                Reset password link has been send to <%=email%>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card px-3 py-3 mb-4">
            <div class="card-body">
              <div class="alert alert-light mb-1" role="alert">
                Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.
              </div>
              <div class="d-grid gap-2">
                <a href="login" class="btn btn-secondary">Return to sign in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="assets/js/scripts.js"></script>
  </body>
</html>
