<%- include("partials/head.ejs"); %>

<body class="py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card px-3 py-5 mb-4">
          <div class="card-body">
            <form action="/login" method="POST">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input  name="username" type="string" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value = "<%=inputBox.username%>">
              </div>
              <div class="password mb-3">
                <label for="password" class="form-label">Password</label>
                <a class="small float-end" href="forget">Forgot password?</a>
                <input name="password" type="password" class="form-control" id="password" value = "<%=inputBox.password%>">
                <i class="far fa-eye-slash"></i>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1"  >
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary login">Login</button>
              <%if(message){%>
                <div class="alert alert-danger mb-4 mt-4" role="alert">
                  <%=message%>
                </div>
              <%}%>
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            New to Music Pro? <a class="text-decoration-none" href="register">Create an account.</a>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <a class="btn btn-block  btn-social btn-google" href="/login/google" role="button">
              <i class="fab fa-google"></i>
              Sign In with Google
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="scripts.js" charset="utf-8"></script>

</body>

</html>
